#splash
	float: right
	padding-left: 5em
	padding-right: 10em

	ul
		list-style-type: none
		font-size: xx-large

	a
		text-decoration: none
		border: none

header[role=banner]
	margin-left: -10em
	h1
		font-size: 654%
	h2
		font-size: 2em
