Layout: none
Template: splash

%head
	= haml :hhead, :layout => false
	%link(href="/css/splash.css" media="screen" rel="stylesheet")
	%link(rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider")
	%link(rel="openid2.local_id" href="https://openid.stackexchange.com/user/b548b55f-facd-4a4f-87d8-4f79318c22eb")

%body
	= haml :header, :layout => false
	#splash
		%ul
			%li
				%a(href='/blog') → blog

