Layout: none
Template: splash

%head
	= haml :hhead, :layout => false
	%link(href="/css/splash.css" media="screen" rel="stylesheet")
	%link(rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles")
	%link(rel="openid2.local_id" href="http://www.google.com/profiles/sohumb")

%body
	= haml :header, :layout => false
	#splash
		%ul
			%li
				%a(href='/blog') → blog

