Layout: none
Template: splash

%head
	= haml :hhead, :layout => false
	%link(href="/css/splash.css" media="screen" rel="stylesheet")
	%link(rel="openid2.provider openid.server" href="https://www.google.com/accounts/o8/id")
	%link(rel="openid2.local_id openid.delegate" href="https://plus.google.com/u/0/115939744944772460746/posts")

%body
	#container
		= haml :header, :layout => false
		#splash
			%ul
				%li
					%a(href='/blog') → blog

