Layout: none
Template: splash

%head
	= haml :hhead, :layout => false
	%link(href="/css/splash.css" media="screen" rel="stylesheet")
	%link(rel="openid.server" href="http://pip.verisignlabs.com/server")
	%link(rel="openid.delegate" href="http://sohumb.pip.verisignlabs.com")
	%link(rel="openid2.provider" href="http://pip.verisignlabs.com/server")
	%link(rel="openid2.local_id" href="http://sohumb.pip.verisignlabs.com")
	%meta(http-equiv="X-XRDS-Location" content="http://pip.verisignlabs.com/user/sohumb/yadisxrds")

%body
	= haml :header, :layout => false
	#splash
		%ul
			%li
				%a(href='/blog') → blog

